.interventionsTitle {
    font-size: 25px;
    vertical-align: middle;
    margin: 2% 3% 0% 3%;
}

.wrapper-instructionsNavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 3% 0.5% 3%;
}

.instructions {
    color: #373737;
}

.interventionsArray {
    width: 94%;
    box-sizing: border-box;
    table-layout: fixed;
    background-color: white;
    border-collapse: collapse;
    cursor: pointer;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
    margin: 0% 3% 1% 3%;
}

thead tr {
    text-align: left;
}

th {
    padding: 17px 12px;
    overflow: hidden;
}


td {
    padding: 8px 12px;
    overflow: hidden;
}

th:nth-child(7),
td:nth-child(7) {
    width: 350px;
}

tbody,
tr,
td,
th {
    border: 2px solid #f6f6f6;
}

tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

.pagination {
    background-color: white;
    display: flex;
    justify-content: right;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
    margin: 2% 3% 2% 3%;
}

