.container {
    display: flex;
    height: 100vh;
  }

.sidebar {
    position: fixed;
    max-width: 14%;
    min-height: 100vh;
    background-color: rgba(48, 54, 77);
    color: white;
}

.main-content {
   margin-left: 14%;
   width: 86%;
   flex-grow: 1;
   justify-content: center;
   overflow: auto;
  }

  .app-intervention {
    min-width: 100%;
  }